include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include CITATION.cff
recursive-include src/sql2sqlx py.typed
recursive-include tests *.py *.sql
recursive-include examples *.py *.sql *.md *.ipynb
recursive-include docs *.md *.py *.txt *.ipynb Makefile
recursive-exclude docs/_build *

